---
import TextSwipe from "../TextSwipe.astro";
import Button from "../Button.astro";
import OptimizedImage from "../OptimizedImage.astro";

import casaTrujillo from "../../assets/casa-trujillo.jpg";
import sala from "../../assets/sala.png";
import terraza from "../../assets/terraza.jpeg";
import casaVerde from "../../assets/casa-verde.png";
import banoSevilla from "../../assets/bano-sevilla.jpg";
import cocina2 from "../../assets/cocina2.jpg";
---

<section
  class="relative flex flex-col w-full pt-20 pb-10 px-3.5 md:px-7 bg-[#fcfcfc]"
>
  <div class="flex justify-between items-end">
    <h3
      class="uppercase text-[2.5rem] sm:text-[2.75rem] md:text-[8rem] font-bold max-w-6xl leading-[0.95] tracking-normal"
    >
      Nuestros <br class="md:hidden" />
      <span class="md:ml-40">proyectos</span>
    </h3>

    <p class="text-4xl md:text-[8rem] font-bold leading-[0.95]">(06)</p>
  </div>

  <div class="grid grid-cols-12 gap-x-6 gap-y-10 md:gap-y-20 pt-12">
    <div class="col-span-12 md:col-span-6">
      <div class="flex flex-col group">
        <OptimizedImage
          src={casaTrujillo}
          alt="casa trujillo"
          class="max-h-[90vh] object-cover"
        />
        <div class="flex justify-between text-sm font-bold pt-2">
          <div class="flex">
            <p>(01)</p>
            <p class="pl-4 md:pl-8">CASA TRUJILLO</p>
          </div>

          <div>
            <TextSwipe
              class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515]"
            >
              <Fragment slot="text1">VER PROYECTO</Fragment>
            </TextSwipe>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-12 md:col-span-6">
      <div class="flex flex-col group">
        <OptimizedImage
          src={sala}
          alt="sala"
          class="max-h-[80vh] object-cover"
        />
        <div class="flex justify-between text-sm font-bold pt-2">
          <div class="flex">
            <p>(02)</p>
            <p class="pl-4 md:pl-8">SALA HACIENDA</p>
          </div>

          <div>
            <TextSwipe
              class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515]"
            >
              <Fragment slot="text1">VER PROYECTO</Fragment>
            </TextSwipe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6">
      <div class="grid grid-cols-6">
        <div class="flex flex-col group col-span-6 md:col-span-5">
          <OptimizedImage
            src={terraza}
            alt="terraza"
            class="max-h-[80vh] object-cover"
          />

          <div class="flex justify-between text-sm font-bold pt-2">
            <div class="flex">
              <p>(03)</p>
              <p class="pl-4 md:pl-8">TERRAZA LIMA</p>
            </div>

            <div>
              <TextSwipe
                class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515]"
              >
                <Fragment slot="text1">VER PROYECTO</Fragment>
              </TextSwipe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6">
      <div class="flex flex-col group">
        <OptimizedImage
          src={casaVerde}
          alt="casa-verde"
          class="max-h-[80vh] object-cover"
        />

        <div class="flex justify-between text-sm font-bold pt-2">
          <div class="flex">
            <p>(04)</p>
            <p class="pl-4 md:pl-8">CASA VERDE</p>
          </div>

          <div>
            <TextSwipe
              class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515] text-end"
            >
              <Fragment slot="text1">2024</Fragment>
              <Fragment slot="text2">VER PROYECTO</Fragment>
            </TextSwipe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6">
      <div class="flex flex-col group">
        <OptimizedImage
          src={banoSevilla}
          alt="bano-sevilla"
          class="max-h-[80vh] object-cover"
        />
        <div class="flex justify-between text-sm font-bold pt-2">
          <div class="flex">
            <p>(05)</p>
            <p class="pl-4 md:pl-8">BAÑO SEVILLA</p>
          </div>

          <div>
            <TextSwipe
              class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515]"
            >
              <Fragment slot="text1">VER PROYECTO</Fragment>
            </TextSwipe>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6">
      <div class="grid grid-cols-6">
        <div
          class="flex flex-col group col-span-6 md:col-span-5 md:col-start-2"
        >
          <OptimizedImage
            src={cocina2}
            alt="cocina2"
            class="max-h-[80vh] object-cover"
          />
          <div class="flex justify-between text-sm font-bold pt-2">
            <div class="flex">
              <p>(06)</p>
              <p class="pl-4 md:pl-8">COCINA</p>
            </div>

            <div>
              <TextSwipe
                class="font-bold tracking-tighter leading-[0.85] text-sm text-[#151515]"
              >
                <Fragment slot="text1">VER PROYECTO</Fragment>
              </TextSwipe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center w-full mt-2 md:mt-10">
    <Button
      href="/proyectos"
      class="bg-[#151515] mt-6 md:mt-10"
      text1="Ver todos los proyectos"
      textSwipeClass="font-bold tracking-tighter leading-[1.15] text-sm text-[#fcfcfc]"
    />
  </div>
</section>
